/* *{
    border: 1px solid red
} */

body {
    background-color: #ffffff;
    background-image: linear-gradient(180deg, #ffffff 43%, #ebebeb 81%, #d4d1d1 91%, #000000 99%);
    font-size: 22px;
    margin: 0px;
    width: 100%
}

ul {
    text-align: center;
    padding-left: 0;
}

li {
    font-family: 'Dancing Script', cursive;
    font-family: 'Palette Mosaic', cursive;
    font-size: 45px;
    display: inline-block;
    font-style: italic;
}

.container ul li a {
    color: rgb(209, 209, 209);
    text-decoration: none;
    border: 2px solid rgb(161, 0, 0);
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 12px;
    display: inline-block;
    margin: 10px;
}

.container ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(209, 209, 209);
    border: 5px solid rgb(161, 0, 0);
    margin: 7px;
}

p {
    max-width: 50%;
    padding: 15px;
    margin: 150px auto;
    z-index: 5;
}

h1 {
    text-align: center;
    margin-top: 350px;
    margin-bottom: 100px;
}

.odstavec {
    margin-bottom: 0px;
    padding-bottom: 0px;

}

.odstavec h1, h2 {
    margin-bottom: 20px;
}

#cover {
    position: relative;
    background: url(/Img/obr1.jpg) no-repeat center center;
    height: auto;
    min-height: 1000px;
    background-size: cover;
}

.container {
    position: absolute;
    top: 100px;
    left: 5%;
    right: 5%;
    z-index: 10;
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.fadecovers {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 1000px;
    overflow: hidden;
}

.clanky {
    position: relative;
    top: -200px;
    padding-bottom: 50px;
}

.back-to-top {
    color: rgb(0, 0, 0);
    font-size: 15px;
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 10;
    display: block;
    opacity: 0.7;
}

.back-to-top:hover,
.back-to-top:focus {
    opacity: 1;
    transition: opacity 0.3s;
}

/* manual slider */

.prev {
    background-image: url('/img/left.png');
    left: 0px;
}

.next {
    background-image: url('/Img/right.png');
    right: 0px;
}

.arrow {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 10px;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 200px;
    z-index: 2;
    text-indent: -9999em;
    opacity: 0.6;
    border: 2px solid rgb(161, 0, 0);
}

.arrow:hover {
    opacity: 1;
    border: 5px solid rgb(161, 0, 0);
    width: 66px;
    height: 66px;
}

footer p {
    margin-bottom: 0px;
    color: #d4d1d1;
    font-size: 14px;
    padding: 20px;
    width: 450px;
}

.fa {
    color: black;
    font-size: 32;
}

.footer1 {
    position: absolute;
    left: 50%;
    width: 210px;
    height: 50px;
    margin-left: -130px;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    margin-top: 130px;
}

.footer1 a {
    padding-left: 22px;
}

.footer1 a:hover,
.footer1 a:focus {
    color: rgb(124, 124, 124);
}

.sub-footer {
    height: 50px;
    width: 200px;
    margin-left: 600px;
    margin-top: 5px;
}
.sub-footer p {
    margin-top: 5px;

}
.odstavec li {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
    display: block;
    font-weight: normal;
}

h2 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 200px;
}

.odstavec p {
    margin-bottom: 10px;
    margin-top: 40px;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(175, 175, 175);
    box-shadow: #000000;
}
.odstavec h2 {
    margin-bottom: 10px;

}

.skills1,
.skills2 {
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 350px;
    margin: 20 auto;
    justify-content: center;
    background-color: rgb(175, 175, 175);
    line-height: 30px;
}

.skills1 h2,
.skills2 h2 {
    margin-bottom: 0;
    text-decoration: underline;
}

.skills2 {
    float: right;
    margin-right: 20%;
}

.skills1 {
    margin-left: 20%;
}

.shows {
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    height: 80%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    margin-top: 0px;
    background-color: rgb(175, 175, 175);
}

/* GALERIE */
.shows img{
    width: 20%;
    height: auto;
    margin-left:2%;
    margin-right:2%;
    padding: 0px;
    margin-top: 2%;
    opacity: 0.7

}

.shows img:hover{
    opacity:1;
    transform: scale(0.9) rotate(-5deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
}

/* FORMULAR */

.section-1 {
    position: relative;
    color: rgb(0, 0, 0);
    background-color: rgb(175, 175, 175);
    margin: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    padding: 0px;
    text-align: left;
    width: 80%;
    height: auto;
    border-radius: 10px;
    align-items: center;
}



textarea {
    border: 2px solid rgb(161, 0, 0);
    width: 50%;
    height: 300px;
    margin: 20px 5px;
    border-radius: 14px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
    margin-left: 25%;
    margin-right: 25%;

}


input {
    background: #fff;
    border: none;
    width: 20%;
    max-width: 100%;
    height: 20px;
    padding: 15px 5px;
    margin: 15px;
    border-radius: 4px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
    display:inline-block;
    justify-content: space-between;

}

input:first-child {
    margin-left: 17%;

}

input:last-child {
    margin-right: 10%;

}
button {
    color: #ffffff;
    background: #bb0000;
    padding: 15px 20px;
    margin: 20px;
    border-radius: 14px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.12);
    font-size: 20px;
    margin-right: 150px;
    cursor: pointer;

}

select {
    width: 680px;
    margin-left: 5px;
}

input[type='checkbox'] {
    padding: 10px;
    margin: 50px 5px, 0px, 50px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

label {
    cursor: pointer;

}

label:#text {
    text-align: left;
}
.checkboxy {
    margin-top: 10px;
    text-align: left;
    position: relative;
    width: 100%;

}

.checkboxy p {
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 25%;

}

.lang-menu {
    margin-top: 25px;
    margin-right: 25px;


}
.selected-lang {
    cursor: pointer;
    display: flex;
    justify-content: right;
    position: absolute;
    top:20px;
    right: 20px;


}
.selected-lang img{
    border: 1px solid black;
    margin-right: 10px;
    border-radius: 10%;
    opacity: 0.7;
}

.selected-lang img:hover{
 opacity: 1;
}

.selected-lang::before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;


    }


/* ADAPTIVE */

@media screen and ( max-width: 800px) {
    .odstavec p {


        padding: 5 20;
        margin: 10 20;
        max-width: auto;

    }

    p{
        max-width: 100%;
        margin: 10 20;
    }
}
